.App {
  text-align: center;
  background-color: #262b49;
  height: 100%;
  width: 100%;
}
body{
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
}
#root{
  height: 100%;
}
.main{
  width: 100%;
}
.App-header {
  background-color:  #2196f3;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-size: calc(3px + 2vmin);
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.create{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}
.list{
  width: 94%;
  height: 100%;
  background-color: #262b49;
  margin-top: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  align-self: flex-start;
}
.container-fluid{
  position: relative;
  z-index: 2;
  background-color: #ffc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.divsetter{
  min-height: 100px;
  width: 100%;
  background-color:  #262b49;
}
/* Thin scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #4682B4; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
.subHead{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.App-content{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
