/* Appbar.css */

.nav-tabs li {
    background-color: #262b49;
    color:  #dae1ce;
     /* Change this to your desired color */
  }
  
  .nav-tabs li a {
    color: #dae1ce; /* Change this to the text color you prefer */
  }
  .fixed{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .divsetter{
    position: fixed;
  }
  .nav-item a:hover{
    background-color: #dae1ce;
    color: #262b49;
  }