.nav-tabs li {
  background-color: #262b49;
  color: #dae1ce;
  cursor: pointer;
  /* Change this to your desired color */
}

.navbar {
  /*background:#2196f3;*/
  background: #fefefe;
  display: block;
}

nav .custom-logo {
  color: #3a6dba;
  font-weight: 300;
}

.logo {
  min-width: 30%;
  padding-left: 10px;
  color: #3a6dba;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Align items vertically */
}

.menuDiv {
  margin-left: 10px; /* Add some margin to separate menuDivs */
}
.menuDiv1 {
  margin-left: 10px; /* Add some margin to separate menuDivs */
}

.icon {
  margin: 10px;
  color: #3a6dba;
  height: 100%;
  
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

nav .nav-wrapper ul {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}


.a {
  color: #3a6dba;
  /* Change this to the text color you prefer */
  text-decoration: none;
  font-weight: 400;
  /* Underline the text */
  cursor: pointer;
}

.a:hover {
  text-decoration: none;
}

.fixed {
  position: relative;
  top: 0;

  width: 100%;
}

.divsetter {
  position: fixed;
}

.nav-item a:hover {
  background-color: #fbfbfb;
  color: #262b49;
}

.App-header h3 {
  letter-spacing: 0.1em;
  color: #fbfbfb;
}

h3 {
  color: #fbfbfb;
}

li {
  color: #fbfbfb;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.menu {
  position: absolute;
  top: 110%;
  /* Position the menu just below the menu button */
  box-sizing: border-box;
  /* Align the menu with the left edge of the menu button */
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #fbfbfb;
  z-index: 1000;
}
.menu::after {
  content: '';
  position: absolute;
  top: -13.5%; /* Adjust the position of the triangle as needed */
  left: 10px;
  transform: translateX(-50%);
  border: 8px solid transparent;
  z-index: 9000;
  border-bottom-color: #fbfbfb; /* Color of the triangle */
}

.menu p {
  color: black;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  padding-top:0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.menu p:hover {
  background: #262b49;
  color: #fbfbfb;
}

.menu p:active {
  transform: scale(1.01);
}

.form3 {
  width: 25%;
  height: 40px;
  margin-left: 75%;
}

.form3 input[type='search'] {
  position: relative;
  width: 100%;
  z-index: 10;
  height: 100%;
  border-radius: 10px;
  background: #fbfbfb;
  color: black;
}

.form3 input[type='search']::placeholder {
  color: gray
}

img {
  border-radius: 50%;
}
