.col-sm-3{
    color: #dae1ce;
    border: solid #262b49 1px;
    box-shadow: 0 1px 3px #dae1ce(0, 0, 0, 0.12), 0 1px 2px #dae1ce(0, 0, 0, 0.24);
    border-radius: 1%;
    
}
.col-sm-9{
    background-color: #dae1ce;
}
.full{
    width: 100%;
}
h2{
    text-align: start;
    width: 100%;
}
.content{
    height: 100%;
    position: relative;
    width: 94%;
    box-shadow: 0 1px 3px #dae1ce(0, 0, 0, 0.12), 0 1px 2px #dae1ce(0, 0, 0, 0.24);   
    border-radius: 1%;
    background: #dae1ce;
    color: #dae1ce;
}


.form-group .control-label {
  width: 100px;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Text Box margin */

.form-group .col-sm-10 input[type="text"] {
    /* Adjust the width and margin accordingly */
    width: calc(100% - 150px);
    margin-left: 90px; /* Adjust the left margin as needed */
}

.form-group .col-sm-10 textarea {
  /* Adjust the width and margin accordingly */
  width: calc(100% - 150px);
  margin-left: 90px; /* Adjust the left margin as needed */
}




@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
      font-size: 100px;
      
    }
  }
  .content h1{
    text-align: left;
    
    padding-bottom: 50px;
  }
  .bottom{
    padding-bottom: 100px;
  }
  .custom{
    margin-top: 25%;
  }
  .mbody{
    background-color: #dae1ce;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content a {
    position: relative;
    background-color: #dae1ce;
    color:inherit;

    padding: 10px 12px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
  .dropdown-content a:hover{
    background-color: #dae1ce;
  }
  .dropdown-content  {
    position: absolute;
    overflow: auto;
    z-index: 1;
  }
    
  nav{
    color:  #dae1ce;
    background-color: #262b49;
  }
  .black{
    color:  #262b49;
    
    
  }
  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
h3{
  text-align: left;
  
}
.a{
  color: #dae1ce;
}
.h4{
  color: white;
}